<h1>Sign Up Form - Good</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <label>
      Username:
      <input type="text" formControlName="username">
    </label>
    <label>
      Password:
      <input type="password" formControlName="password">
    </label>

    <button type="submit">Submit</button>
</form>

<h1>Sign Up Form - Bad</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

      Username:
      <input type="text" formControlName="username">


      Password:
      <input type="password" formControlName="password">


    <button type="submit">Submit</button>
</form>
