<button class="fixed ph3 pv2 br2 bg-navy near-white bottom-0 right-0 dim pointer" (click)="toggleAccessibility()">Toggle A11y</button>
<div class="mh4">
    <ng-container *ngIf="accessibleExample; else inaccessibleExample">
      <h1 class="f3">Pending Tasks</h1>
      <p>Use the tab key to navigate through tasks, and the Enter key to cross them out.</p>
      <ul class="mh6 mv4 ph5 pv4 ba br4 b--blue bw1 bg-washed-blue shadow-5 w-70 center flex flex-wrap justify-between">
        <li class="pv2 w-40" *ngFor="let item of todos; let i = index" [ngClass]="{'strike': item.completed}">
            <span class="pointer" tabindex="0" (click)="markDone(i)" (keydown.enter)="markDone(i)" (keydown.space)="markDone(i, $event, true)">{{ item.title }}</span>
        </li>
      </ul>
    </ng-container>
    <ng-template #inaccessibleExample>
      <h1 class="f3">Pending Tasks that May Never Get Done</h1>
      <p>Use the tab key to navigate through tasks, and the Enter key to cross them out.</p>
      <div class="mh6 mv4 ph5 pv4 ba br4 b--blue bw1 bg-washed-blue shadow-5 w-70 center flex flex-wrap justify-between">
        <li class="pv2 w-40" *ngFor="let item of todos; let i = index" [ngClass]="{'strike': item.completed}">
            <span class="pointer" (click)="markDone(i)">{{ item.title }}</span>
        </li>
      </div>
    </ng-template>
</div>
