<div class="mh4">
  <h2>To Do List</h2>
  <!-- <p>
    Number of tasks done: {{ todoList.selectedOptions.selected.length }}
  </p>

  <div class="w-80 ba br4 bw1 b--moon-gray shadow-4">
    <mat-selection-list #todoList>
      <mat-list-option *ngFor="let item of todos">
        {{ item.title }}
      </mat-list-option>
    </mat-selection-list>
  </div> -->

  <ul class="w-75 list pa3 ba br4 bw1 b--moon-gray shadow-4">
    <li class="pv2" *ngFor="let item of todos">
        {{ item.title }}
    </li>
  </ul>
</div>





<!-- [ngClass]="item.complete ? 'green' : 'red'"  -->
