<div class="mh4" role="main">
  <h1>Introduction</h1>
  <div class="fl mh4 mb4 pa1 ba b--blue bw1 shadow-5">
    <iframe class="bn" title="about-video" src="https://www.youtube.com/embed/zVLA8fvBczg" allowfullscreen></iframe>
  </div>
  <!-- <p *ngFor="let para of aboutPara" class="ma3">{{ para }}</p> -->
  <p>
    This is a demo project that shows the importance of building web apps with accessibility (a11y) in mind. Each of the
    tabs includes two variations - an accessibile version and an inaccessible one - available via the toggle botton in
    the bottom right corner. While both appear the same from a visual perspective, the difference in the underlying
    structures provide drastically different experiences for users who rely on voice technologies or keyboard shortcuts.
  </p>
  <p>For more info on a11y and relevant tools, take a look at my blog posts:</p>
  <ul>
    <li><a href="https://medium.com/@f3igao/an-internet-for-everybody-2f8fa48b87b0" target="_blank">An Internet for
        Everybody</a>:
      What is web accessibility and why you should care</li>
    <li><a href="https://medium.com/@f3igao/how-to-automate-web-accessibility-testing-921512bdd4bf">How to
        Automate Web Accessibility Testing</a>: And make it part of your continuous integration pipeline
    </li>
  </ul>
</div>