<div class="mh4">
  <h1>Register Your Pet</h1>
  <form [formGroup]="registrationForm" id="registrationForm" (ngSubmit)="onSubmit()" class="flex flex-column">
    <label>
      Name
      <input type="text" formControlName="name">
    </label>
    <label>
      Date of Birth
      <input type="date" formControlName="dob">
    </label>
    <label formArrayName="interests" *ngFor="let interest of registrationForm.controls.interests.controls; let i = index">
      <input type="checkbox" [formControlName]="i">
      {{ interests[i].name }}
    </label>


    <!-- <fieldset>
      <legend>Gender (custom radio):</legend>
      <p>
        <input type="radio" name="size" id="size_1" value="small">
        <label for="size_1">Small</label>
      </p>
      <p>
        <input type="radio" name="size" id="size_2" value="medium">
        <label for="size_2">Medium</label>
      </p>
      <p>
        <input type="radio" name="size" id="size_3" value="large">
        <label for="size_3">Large</label>
      </p>
    </fieldset>



    Interests (custom checkbox)
    <label class="container">One
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>

    <label class="container">Two
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>

    <label class="container">Three
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>

    <label class="container">Four
      <input type="checkbox">
      <span class="checkmark"></span>
    </label> -->


      <button type="submit">Submit</button>
  </form>

</div>
