<div class="mh4">
  <h1>Register Your Robot</h1>
  <form [formGroup]="registrationForm" id="registrationForm" (ngSubmit)="onSubmit()" class="flex flex-column">
    <label>
      Name
      <input type="text" formControlName="name">
    </label>
    <label>
      Date of Build
      <input type="date" formControlName="dob">
    </label>

    <select formControlName="intel">
      <option *ngFor="let intel of intelOptions" [value]="intel.name">
        {{ intel.name }}
      </option>
    </select>

    <fieldset class="ph0 bn">
      <legend>Division</legend>
      <label *ngFor="let division of divisionOptions">
        <input type="radio" formControlName="division" [value]="division.name">
        {{ division.name }}
      </label>
    </fieldset>

    <fieldset class="flex ph0 bn">
      <legend>Capabilities</legend>
      <label formArrayName="capabilities" *ngFor="let capability of registrationForm.controls.capabilities.controls; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{ capabilityOptions[i].name }}
      </label>
    </fieldset>



    <!-- Intelligence Level (custom radio - ANI, AGI, ASI) - custom dropdown -->


    <div>
      <button type="submit">Submit</button>
    </div>
  </form>

</div>
