<div class="flex flex-column h-100 relative">
  <h1>The Internet is for Everyone</h1>
  <img id="group-img" src="../assets/groups.png">

  <!-- <div class="_content relative w-100 overflow-y-visible-ns overflow-x-hidden-ns" [ngClass]="{'themind': (isHomeRoute$ | async)}">
    <div class="center relative mt4 mt0-ns" [ngClass]="hasContainer()">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="alert-container absolute">
    <lsa-alert></lsa-alert>
  </div>

  <lsa-footer></lsa-footer> -->
</div>
