<button class="fixed ph3 pv2 br2 bg-navy near-white bottom-0 right-0 dim pointer" (click)="toggleAccessibility()">Toggle A11y</button>
<div class="mh4">
  <ng-container *ngIf="accessibleExample; else inaccessibleExample">
      <h1 class="f3">Login</h1>
      <form [formGroup]="loginForm" id="login-form" (ngSubmit)="onSubmit()" (keydown.enter)="handleEnterKey($event)" class="mh6 mv4 pa4 ba br4 b--blue bw1 bg-washed-blue shadow-5 w-40 center flex flex-column">
        <label>
          Username:
          <input type="text" formControlName="username">
        </label>
        <label>
          Password:
          <input type="password" formControlName="password">
        </label>
        <div>
          <button (click)="onSubmit()" class="pv2 ph3 br3 bn near-white bg-blue pointer">Submit</button>
        </div>
      </form>
  </ng-container>
  <ng-template #inaccessibleExample>
      <h1 class="f3">Login - What not to do</h1>
      <form [formGroup]="login-form" (ngSubmit)="onSubmit()" class="mh6 mv4 pa4 ba br4 b--blue bw1 bg-washed-blue shadow-5 w-40 center flex flex-column">
        <div class="flex">
          Username:
          <input formControlName="username">
        </div>
        <div class="flex">
          Password:
          <input type="password" formControlName="password">
        </div>
        <div>
          <button (click)="onSubmit()" class="pv2 ph3 br3 bn near-white bg-blue pointer">Submit</button>
        </div>
      </form>
  </ng-template>
</div>
