<div class="mh4" role="main">
  <button class="fixed ph3 pv2 br2 bg-navy near-white bottom-0 right-0 dim pointer"
    (click)="toggleAccessibility()">Toggle A11y</button>
  <ng-container *ngIf="accessibleExample; else inaccessibleExample">
    <h1 class="f3">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
      class="mh6 mv4 pv2 ba br4 b--blue bw1 bg-washed-blue shadow-5 w-40 center flex flex-column">
      <label class="mv2 mh4 flex flex-column">
        Username:
        <input type="text" formControlName="username">
      </label>
      <label class="mv2 mh4 flex flex-column">
        Password:
        <input type="password" formControlName="password">
      </label>
      <div>
        <button (click)="onSubmit()" class="mv2 mh4 pv2 ph3 fr br3 bn near-white bg-dark-blue pointer">Submit</button>
      </div>
    </form>
    <ul>
      <li>Ability to navigate through form using Tab key</li>
      <li>Inputs have corresponding labels</li>
    </ul>
  </ng-container>

  <ng-template #inaccessibleExample>
    <h1 class="f3">Login - What not to do</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
      class="mh6 mv4 pv2 ba br4 b--blue bw1 bg-washed-blue shadow-5 w-40 center flex flex-column">
      <div class="mv2 mh4 flex flex-column">
        Username:
        <input formControlName="username">
      </div>
      <div class="mv2 mh4 flex flex-column">
        Password:
        <input tabindex="2" type="password" formControlName="password">
      </div>
      <div>
        <button (click)="onSubmit()" class="mv2 mh4 pv2 ph3 fr br br3 bn near-white bg-dark-blue pointer">Submit</button>
      </div>
    </form>
    <ul>
      <li>Tabbing through skips around</li>
      <li>Inputs are missing corresponding labels</li>
    </ul>
  </ng-template>
</div>