<mat-sidenav-container class="sidenav-container">
    <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav> -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <!-- <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button> -->
        <span class="pointer" (click)="routeToHome()">The Internet is for Everyone</span>
      </mat-toolbar>

      <nav class="w-100 bg-light-gray">
          <button mat-button [matMenuTriggerFor]="menuAbout">About</button>
          <mat-menu #menuAbout="matMenu">
            <button mat-menu-item>A11y</button>
            <button mat-menu-item>WCAG</button>
            <button mat-menu-item>FAQs</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="menuMovies">Movies</button>
          <mat-menu #menuMovies="matMenu">
            <button mat-menu-item>In Theaters Now</button>
            <button mat-menu-item>Watchlist</button>
            <button mat-menu-item>Favorites</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="menuBooks">Books</button>
          <mat-menu #menuBooks="matMenu">
            <button mat-menu-item>Best Sellers</button>
            <button mat-menu-item>Reading List</button>
          </mat-menu>
          <button mat-button (click)="routeToContact()">Contact</button>
        </nav>

    </mat-sidenav-content>
  </mat-sidenav-container>
